<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
    <head th:replace="layout :: site-head">
        <title>Spring MVC Application - Login</title>
    </head>

    <header th:replace="layout :: loggedout"></header>

    <h2> Please Login </h2>

    <form method="post" th:object="${User}">
        <lable for="username">Username :</lable>
        <input type="text" id="username"/>
        <lable for="passw2ord">Password :</lable>
        <input type="password" id="password"/>
        <input type="submit" value="login"/>

    </form>
</html>